*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#EEF2F7 100%, #f3f3f3 80%);
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    position: sticky;
    top: 0;
}

.logo{
    font-size: 3.2rem;
    font-family: 'Jersey 25', sans-serif;
}

.nav-bar{
    width: auto;
    padding: 12px;
}

.nav-bar a{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 12px 0 12px;
    display: inline-block;
    text-align: center;
    width: 95px;
    padding: 12px;
    border-radius: 112px;
    background-color: #4175b4;
}

.info{
    padding-top: 20px;
}

h1{
    color: #333;
}

.importance{
    background-color: #F0E4D3;
    height: auto;
    display: flex;
    justify-content: center;
}

.info h1{
    text-align: center;
}

.importance img{
    height: 400px;
    margin: 22px 12px 22px 12px;
}

.content{
    margin: 22px 12px 22px 12px;
    width: 60%;
}

.content p{
    font-size: 1.4rem;
    font-family: 'Playfair Display' ;
    margin-top: 12px;
}

.content a{
    margin: 12px 0 12px 0;
    display: block;
    text-align: end;
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
}


.special{
    display: grid;
    grid-template-columns: 46vw 46vw;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.features, .whyUs, .aboutUs{
    background-color: #F0E4D3;
    margin: 0px 30px;
    border-radius: 20px;
    padding: 22px;
}

.features h2, .whyUs h2, .aboutUs h2{
    font-size: 1.9rem;
    margin: 12px;
}

@counter-style repeating-emoji {
  system: cyclic;
  symbols: "📒" "📈" "📘" "📊" "📖"; // unicode code point
  suffix: " ";
}


.features ul{
    list-style-position: inside;
    list-style-type: repeating-emoji;
    margin-left: 20px;
    font-size: 1.3rem;
    border-radius: 20px;
    font-weight: 700;
    
}


.whyUs p, .aboutUs p{
    margin-top: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.buttons button{
    background-color: rgb(28, 191, 191);
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 42px;
    font-size: 23px;
    font-weight: 600;
    margin: 12px;
}



footer{
    margin-top: 40px;
    background-color: #090909;
}

footer h2{
    color: white;
    font-size: 1.9rem;
    text-align: center;
    padding-top: 20px;
}

.link-logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    padding: 60px;
}


.link-logo a {
    text-decoration: none;
    color: white;
    
}

.link-logo a img {
    height: 20px;
}

footer p {
    color: #EEF2F7;
    padding: 0 12px 12px;
}


@media (max-width : 800px){

    .importance{
        flex-direction: column;
    }

    .importance .content{
        width: 95%;
        text-align: left;
    }
    
    .importance img{
        width: 95%;
    }

    .buttons{
        flex-direction: column;
    }
}